body {
  margin: 0;
  font-family: "LibreBaskerville";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "LibreBaskerville"
}

@font-face {
  font-family: "LibreBaskerville";
  src: local("LibreBaskerville");
  src: url("./assets/fonts/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: normal;
}